/* Geral */
*{
    box-sizing: border-box;
}

html,
body{
    height: 100%;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

hr{
    width: 100%
}

[data-title] {
    position: relative;
}

[data-title]:hover::before {
    content: attr(data-title);
    position: absolute;
    bottom: -26px;
    display: inline-block;
    padding: 3px 6px;
    border-radius: 2px;
    background: #000;
    color: #fff;
    font-size: 12px;
    font-family: sans-serif;
    white-space: nowrap;
}

[data-title]:hover::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 8px;
    display: inline-block;
    color: #fff;
    border: 8px solid transparent;	
    border-bottom: 8px solid #000;
}

.botao {
    background: #2d907a;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition: .5s ease;
    font-family: monospace;
    border: 1px solid #14463b;
    border-radius: 50px;
}

.botao:hover{
    text-decoration: underline
}

body{
    overflow: hidden;
}

.conteudo{
    height: 100%;
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
    .conteudo{
        flex-direction: row;
    }
}

/* Menu */
.menu{
    position: fixed;
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url('../img/menu-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
    font-family: 'Josefin Sans', sans-serif;
    z-index: 1000;
}

.menu .menu-cabecalho{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.menu .menu-cabecalho .menu-foto{
    display: none;
}

.menu .menu-cabecalho header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between
}

.menu .menu-cabecalho header .menu-icone-mobile:hover{
    cursor: pointer;
}

.menu .menu-cabecalho header .menu-icone-mobile .menu-barra{
    width: 35px;
    height: 5px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.4s;
}

.menu .menu-cabecalho .menu-titulos{
    display: none;
    width: 100%;
    text-align: center;
}

.menu .menu-cabecalho .menu-titulos h4,
.menu .menu-cabecalho .menu-titulos h5{
    font-family: monospace;
}

.menu .menu-cabecalho .menu-informacoes{
    width: 100%;
    display: flex;
    justify-content: space-around
}

.menu .menu-cabecalho .menu-informacoes a span{
    display: inline-block;
    text-indent: -9999px;
}

.menu .menu-cabecalho .menu-informacoes i{
    font-size: 24px;
}

.menu .menu-nav{
    display: none;
    text-align: right;
    margin-top: 20px;
}

.menu.menu-aberto .menu-nav{
    display: block;
}

.menu .menu-nav li{
    display: block;
}

.menu .menu-nav li:first-of-type{
    margin-bottom: 20px;
}

.menu .menu-nav ul li:last-of-type{
    margin-bottom: 0 
}

nav a{
    color: #fff;
    font-size: 1.2rem;
    text-decoration: none;
}

.menu .menu-nav a.ativo{
    border-bottom: 5px solid rgba(0,0,0,0.45)
}

.menu .menu-direitos{
    font-family: monospace;
    display: none;
    font-weight: 100;
    text-align: center;
}

@media (min-width: 768px) {
    .menu{
        position: relative;
        width: 35%;
        height: 100%;
        max-height: 100%;
    }

    .menu .menu-cabecalho{
        justify-content: center
    }

    .menu .menu-cabecalho .menu-foto{
        width: 35%;
        display: block;
        margin: 10px auto;
    }

    .menu .menu-cabecalho header h1{
        text-align: center;
        display: block;
        width: 100%;
        letter-spacing: 3px;
    }

    .menu .menu-cabecalho header .menu-icone-mobile{
        display: none;
    }

    .menu .menu-cabecalho .menu-titulos{
        display: block
    }

    .menu .menu-nav{
        display: block;
        margin-top: 0px;
    }  

    .menu .menu-direitos{
        display: block;
    }
}

@media only screen and (min-width: 992px) {
    .menu{
        width: 20%;
    }
} 

.menu.menu-aberto ~ main section.sobre{
    padding-top: 200px;
}

/* Principal */
main{
    background: #cdcaca;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    transition: .2s ease;
}

@media (min-width: 768px) {
    main{
        padding-top: 0px;
    }
}

main section{
    width: 100%;
    height: auto;
    padding: 10px;
    min-height: 100%;
    overflow: auto;
    padding: 0 20px;
}

main section h1{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 36px;
    line-height: 36px;
    height: 36px;
    margin: 20px 0;
    text-align: center;
    background: #184741; /* Old browsers */
    background: -moz-linear-gradient(left,  #184741 0%, #142948 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #184741 0%,#142948 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #184741 0%,#142948 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#184741', endColorstr='#142948',GradientType=1 ); /* IE6-9 */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Sobre */
main section.sobre{
    padding-top: 120px;
    font-family: 'Calibri', sans-serif;
    font-size: 18px;
    text-align: center;
    font-weight: normal;
    line-height: 22px;
    transition: .2s ease;
}

main section.sobre .sobre-descricao{
    text-align: left;
}

main section.sobre .sobre-descricao p{
    margin-bottom: 10px;
}

main section.sobre .sobre-descricao p:last-of-type{
    margin-bottom: 0;
}

main section.sobre ul{
    display: flex;
    flex-wrap: wrap;
}

main section.sobre ul li{
    width: 50%;
    text-align: center;
}

main section.sobre ul li span{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
    width: 100px;
    height: 100px;
    background: rgba(0,0,0,0.05);
    border-radius: 50%;
}

@media (min-width: 768px) {
    main section.sobre{
        padding-top: 0px;
    }

    main section.sobre ul li{
        width: 33.33%;
    }
}

@media only screen and (min-width: 992px) {
    main section.sobre ul li{
        width: 25%;
    }
}

@media (min-width: 1600px) {
    main section{
        min-height: auto;
    }

    main section.sobre ul li{
        width: 16.6667%;
    }
}

/* Portifólio */
main section.portifolio{
    min-height: 100%;
    overflow: hidden;
}



main section.portifolio .portifolio-conteudo .projeto{
    position: relative;
    width: 100%;
    height: 300px;
    max-height: 49%;
    margin-bottom: 10px;
    /* background-image: url('../img/portolio/mapsat.jpg'); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}



main section.portifolio .portifolio-conteudo .projeto:hover{
    cursor: pointer;
}

main section.portifolio .portifolio-conteudo .projeto .projeto-descricao{
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    color: #fff;
    overflow: hidden;
    width: 100%;
    height:0;
    transition: .5s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../img/menu-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

main section.portifolio .portifolio-conteudo .projeto:hover .projeto-descricao{
    bottom: 0;
    height: 100%;
}

main section.portifolio .portifolio-conteudo .projeto .projeto-descricao h3{
    font-family: 'Josefin Sans';
    font-size: 36px;
    margin-bottom: 10px;
}

main section.portifolio .portifolio-conteudo .projeto .projeto-descricao .multiple-owners{
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    line-height: 18px;
    font-family: Helvetica, Arial, sans-serif;
}

main section.portifolio .portifolio-conteudo .projeto.aurinova{
    background-image: url('../img/portolio/aurinova.jpg');
}


main section.portifolio .portifolio-conteudo .projeto.tuia{
    background-image: url('../img/portolio/tuia.png');
}

main section.portifolio .portifolio-conteudo .projeto.aid_collective{
    background-image: url('../img/portolio/aid_collective.jpg');
}

main section.portifolio .portifolio-conteudo .projeto.grupo_card{
    background-image: url('../img/portolio/grupo_card.jpg');
}

main section.portifolio .portifolio-conteudo .projeto.cardpay{
    background-image: url('../img/portolio/cardpay.jpg');
}

main section.portifolio .portifolio-conteudo .projeto.mapsat{
    background-image: url('../img/portolio/mapsat.jpg');
}

main section.portifolio .portifolio-conteudo .projeto.cgpdi{
    background-image: url('../img/portolio/cgpdi.jpg');
}

main section.portifolio .portifolio-conteudo .projeto.soschuva{
    background-image: url('../img/portolio/soschuva.jpg');
}

main section.portifolio .portifolio-conteudo .projeto.raios{
    background-image: url('../img/portolio/raios.jpg');
}

main section#portifolio .portifolio-conteudo .projeto.satelite{
    background-image: url('../img/portolio/satelite.jpg');
}

main section.portifolio .portifolio-conteudo .projeto.gasolution{
    background-image: url('../img/portolio/gasolution.jpg');
}

main section.portifolio .portifolio-conteudo .projeto.capital{
    background-image: url('../img/portolio/3capital.jpg');
}

main section.portifolio .portifolio-conteudo .projeto.vitaderm_ecommerce{
    background-image: url('../img/portolio/vitaderm_ecommerce.jpg');
}

main section.portifolio .portifolio-conteudo .projeto.mymedi{
    background-image: url('../img/portolio/mymedi.jpg');
}

main section.portifolio .portifolio-conteudo .projeto.plap{
    background-image: url('../img/portolio/plap.jpg');
}

main section.portifolio .portifolio-conteudo .projeto:last-of-type{
    margin-bottom: 0;
}

@media (min-width: 768px) {
    main section.portifolio .portifolio-conteudo{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    main section.portifolio .portifolio-conteudo .projeto{
        width: 100%;
    }

    main section.portifolio .portifolio-conteudo .projeto:nth-last-of-type(-n+2){
        margin-bottom: 0;
    }
}

@media only screen and (min-width: 992px) {
    main section.portifolio .portifolio-conteudo .projeto{
        width: 49.5%;
    }
}